<a href="https://colab.research.google.com/github/over1234/over1234/blob/main/%EC%A0%95%ED%98%84%EC%9A%B0_p_03_1_%EC%8B%9C%EA%B0%81%ED%99%94(%EC%8B%A4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#모듈(Module)
* 함수나 변수 또는 클래스 들을 모아 놓은 파일
* 다른 파이썬 프로그램에서 불러와 사용할 수 있게끔 만들어진 파이썬 파일

##모듈 불러오기
* import 모듈 이름 : 모듈 이름은 .py 확장자를 제거한 파일 이름
* import 모듈 이름 as 별명 : 모듈 이름을 별명으로 사용
* from 모듈 이름 import 모듈 함수
 : 모듈 이름을 붙이지 않고 바로 해당 모듈의 함수

##대표적 모듈
* matplotlib.pyplot : 시각화 모듈
* numpy : 수치해석 모듈
* pandas : 데이터 분석 모듈
* requests : HTTP 요청/응답 모듈

#1_데이터 시각화 : matplotlib.pyplot

https://matplotlib.org/<br>
https://wikidocs.net/book/5011

### **plot() 함수 기본 그래프**
1. import matplotlib.pyplot as plt  : 라이브러리 불러오기
2. plt.plot([x축 데이터],[y축 데이터]) : plot() 함수에 데이터 입력하기
3. plt.show() : 그래프 보여주기

1. 기본그래프 그리기

In [ ]:
# 라이브러리 불러오기
import matplotlib.pyplot as plt

In [ ]:
# 연습
x = [2, 3, 6, 7, 9]
y = [50, 20, 30, 40, 10]
#plt.plot(x)
plt.plot(x,y)
plt.show()

2. 그래프 옵션 추가 하기<br>

* 제목 : title()
* 범례 : legend()
* 색상 : color 
* 선모양 : linestyle = ls 
* 마커모양 : r.(red, dot), g^(green, ^)

In [ ]:
#제목
plt.title('text')

실습문제

In [ ]:
#부산 3월 기온 # y축
temp = [10.8, 8.5, 8.7, 7.9, 5.1, 
        8.1, 8.2, 10.4, 11, 9.9, 
        7.8, 9.5, 11.6, 8.2, 7.7, 
        6.6, 11.1, 12.2, 12.6, 10.4, 
        13.7, 14.1, 12.6, 11.5, 13, 
        14.5, 13.7, 9.4, 10.4, 11.6, 12.9]
plt.plot(temp)
plt.title('3_month_template')
plt.show()

In [ ]:
#한글 폰트 설치, 런타임 - 런타임 다시 시작
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

In [ ]:
# font 설정
import matplotlib.pyplot as plt
plt.rc('font', family='NanumBarunGothic')

In [ ]:
temp = [10.8, 8.5, 8.7, 7.9, 5.1, 
        8.1, 8.2, 10.4, 11, 9.9, 
        7.8, 9.5, 11.6, 8.2, 7.7, 
        6.6, 11.1, 12.2, 12.6, 10.4, 
        13.7, 14.1, 12.6, 11.5, 13, 
        14.5, 13.7, 9.4, 10.4, 11.6, 12.9]
plt.plot(temp)
plt.title('기온')
plt.show()

In [ ]:
# x, y 축 label
temp = [10.8, 8.5, 8.7, 7.9, 5.1, 
        8.1, 8.2, 10.4, 11, 9.9, 
        7.8, 9.5, 11.6, 8.2, 7.7, 
        6.6, 11.1, 12.2, 12.6, 10.4, 
        13.7, 14.1, 12.6, 11.5, 13, 
        14.5, 13.7, 9.4, 10.4, 11.6, 12.9]
plt.plot(temp)
plt.title('부산 3월 기온')
plt.xlabel('일자')
plt.ylabel('기온')
plt.show()

In [ ]:
# 마커
temp = [10.8, 8.5, 8.7, 7.9, 5.1, 
        8.1, 8.2, 10.4, 11, 9.9, 
        7.8, 9.5, 11.6, 8.2, 7.7, 
        6.6, 11.1, 12.2, 12.6, 10.4, 
        13.7, 14.1, 12.6, 11.5, 13, 
        14.5, 13.7, 9.4, 10.4, 11.6, 12.9]
plt.plot(temp, 'g+-')
plt.title('부산 3월 기온')
plt.xlabel('일자')
plt.ylabel('기온')
plt.show()

In [ ]:
temp = [10.8, 8.5, 8.7, 7.9, 5.1, 
        8.1, 8.2, 10.4, 11, 9.9, 
        7.8, 9.5, 11.6, 8.2, 7.7, 
        6.6, 11.1, 12.2, 12.6, 10.4, 
        13.7, 14.1, 12.6, 11.5, 13, 
        14.5, 13.7, 9.4, 10.4, 11.6, 12.9]
plt.plot(temp, color= 'r', marker = 'o', linestyle='--')
plt.title('부산 3월 기온')
plt.xlabel('일자')
plt.ylabel('기온')
plt.show()

In [ ]:
# subplot : 한 화면에 여러개의 그래프 그리기 (nrows, ncols, index : 행의 수, 열의 수, 인덱스)
plt.figure(figsize=(12, 3))
plt.subplot(2,2,1)
plt.plot(temp, color='g', marker ='o', linestyle='--')

plt.subplot(2,2,2)
plt.plot(temp, color='r', marker ='x', linestyle='-')

plt.subplot(2,2,3)
plt.plot(temp, color='b', marker ='^', linestyle='-.')

plt.subplot(2,2,4)
plt.plot(temp, color='y', marker ='<', linestyle='--')

plt.show()

In [ ]:
#1행 3열(1,3,1~3)(131, 132, 133)
fig = plt.figure(figsize=(12, 3))

ax1 = fig.add_subplot(131)
ax2 = fig.add_subplot(132)
ax3 = fig.add_subplot(133)

ax1.plot(temp, 'go-')
ax1.set_title('초록')
ax2.plot(temp, 'rx--')
ax2.set_title('빨강')
ax3.plot(temp,'b^-.') 
ax3.set_title('파랑')

plt.show()

In [ ]:
import matplotlib.pyplot as plt 

fig=plt.figure(figsize=(8,6))

ax_1=fig.add_subplot(121)
ax_1.text(0.3, 0.5, 'subplot(121)')

ax_2=fig.add_subplot(222)
ax_2.text(0.3, 0.5, 'subplot(222)')

ax_3=fig.add_subplot(224)
ax_3.text(0.3, 0.5, 'subplot(224)')

fig.suptitle("Figure with multiple Subplots")
plt.show()

In [ ]:
plt.plot(temp, 'g+-.', label='초록')
plt.plot(temp, 'b-', label='파랑',drawstyle='steps-post') 
plt.legend()
plt.grid()
plt.show()

In [ ]:
plt.bar(temp, x) # x, y 모두 필요
plt.show()

In [ ]:
# 1일, 2일 출력 (str(i+1)+'일')
x = [] 
for i in range(len(temp)):
    x.append(str(i + 1)+'일')
print(x)

In [ ]:
fig = plt.figure(figsize=(15, 5))
plt.plot(temp, 'go-')
x0 = list(range(len(temp)))
plt.xticks(x0, x, rotation=45)
plt.show()

In [ ]:
#plt.figure(figsize=(10, 5))
plt.bar(x,temp)
plt.xticks(rotation=90)
plt.show()

In [ ]:
#plt.figure(figsize=(5, 10))
plt.barh(x,temp)
plt.xticks(rotation=90)
plt.show()

In [ ]:
#plt.hist(temp)
plt.show()

##**연습문제1**

In [ ]:
#한글 폰트 사용1 : colab , 런타임 다시 시작 하기
%config InlineBackend.figure_format = 'retina'
!apt -qq -y install fonts-nanum

In [ ]:
#한글 폰트 사용2 
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

In [ ]:
import matplotlib.pyplot as plt
plt.rc('font', family='NanumBarunGothic')

In [ ]:
import csv, os
#함수
def opencsv(filename):
  f = open(filename, 'r', encoding='cp949')
  reader = csv.reader(f)
  result = []
  for i in reader:
    result.append(i)
  return result

In [ ]:
opencsv('ta_20211114115134.csv')

In [ ]:
with open('/content/ta_20211114115134.csv', 'r', encoding='cp949') as fp:
  data = fp.readlines()
data

In [ ]:
data = data[1:]
data

In [ ]:
avg = []
min = []
max = []

for line in data:
  line = line.replace('\n','')
  item = line.split(',')
  avg.append(float(item[2]))
  min.append(float(item[3]))
  max.append(float(item[4]))

In [ ]:
print(avg)

In [ ]:
print(min)

In [ ]:
print(max)

In [ ]:
#2020년 부산의 1월에서 12월 평균, 최저, 최고 기온
avg = [6.4, 7.1, 10.4, 12.6, 17.9, 22.4, 22.1, 27.2, 21.9, 17.3, 12.4, 4.3]
min = [-3.2, -5.0, -0.3, 4.4, 12.2, 16.8, 17.8, 23.4, 15.5, 7.0, 1.1, -8.0]
max = [17.7, 18.1, 18.2, 24.4, 26.0, 30.7, 30.6, 33.2, 30.6, 25.9, 23.3, 15.0]

In [ ]:
#1월, 2월 표시
avg = [6.4, 7.1, 10.4, 12.6, 17.9, 22.4, 22.1, 27.2, 21.9, 17.3, 12.4, 4.3]
min = [-3.2, -5.0, -0.3, 4.4, 12.2, 16.8, 17.8, 23.4, 15.5, 7.0, 1.1, -8.0]
max = [17.7, 18.1, 18.2, 24.4, 26.0, 30.7, 30.6, 33.2, 30.6, 25.9, 23.3, 15.0]

x = list(range(len(avg)))
xm = [str(i+1)+'월' for i in x] 

#음수 기호 표시
plt.rcParams['axes.unicode_minus'] = False

plt.figure(figsize=(10,5))
plt.plot(xm, max, 'yo-', label='최고')
plt.bar(xm, avg, label='평균')
plt.plot(xm, min, 'bx--', label='최소')

plt.title('2020년 부산 기온변화')
plt.legend()
plt.show()

##**연습문제2**

In [ ]:
#시도별 대기정보 : 미세먼지(PM10), 오존(O3), 일산화탄소(CO)
data = {'서울':[81,0.052,0.4] ,
        '부산':[54,0.072,0.4],
        '대구':[55,0.06,0.4],
        '인천':[52,0.06,0.5],
        '광주':[61,0.064,0.5],
        '대전':[71,0.064,0.4],
        '울산':[60,0.068,0.4],
        '경기':[64,0.06,0.4],
        '강원':[62,0.062,0.4],
        '충북':[59,0.067,0.4],
        '충남':[65,0.063,0.4],
        '전북':[65,0.068,0.4],
        '전남':[51,0.062,0.4],
        '세종':[69,0.06,0.5],
        '경북':[57,0.066,0.4],
        '경남':[49,0.074,0.4],
        '제주':[66,0.076,0.3]}

In [ ]:
data = {'서울':[81,0.052,0.4] ,
        '부산':[54,0.072,0.4],
        '대구':[55,0.06,0.4],
        '인천':[52,0.06,0.5],
        '광주':[61,0.064,0.5],
        '대전':[71,0.064,0.4],
        '울산':[60,0.068,0.4],
        '경기':[64,0.06,0.4],
        '강원':[62,0.062,0.4],
        '충북':[59,0.067,0.4],
        '충남':[65,0.063,0.4],
        '전북':[65,0.068,0.4],
        '전남':[51,0.062,0.4],
        '세종':[69,0.06,0.5],
        '경북':[57,0.066,0.4],
        '경남':[49,0.074,0.4],
        '제주':[66,0.076,0.3]}
        
area = list(data.keys())
print(area)

In [ ]:
data = {'서울':[81,0.052,0.4] ,
        '부산':[54,0.072,0.4],
        '대구':[55,0.06,0.4],
        '인천':[52,0.06,0.5],
        '광주':[61,0.064,0.5],
        '대전':[71,0.064,0.4],
        '울산':[60,0.068,0.4],
        '경기':[64,0.06,0.4],
        '강원':[62,0.062,0.4],
        '충북':[59,0.067,0.4],
        '충남':[65,0.063,0.4],
        '전북':[65,0.068,0.4],
        '전남':[51,0.062,0.4],
        '세종':[69,0.06,0.5],
        '경북':[57,0.066,0.4],
        '경남':[49,0.074,0.4],
        '제주':[66,0.076,0.3]}

value = list(data.values())
print(value)

In [ ]:
data = {'서울':[81,0.052,0.4] ,
        '부산':[54,0.072,0.4],
        '대구':[55,0.06,0.4],
        '인천':[52,0.06,0.5],
        '광주':[61,0.064,0.5],
        '대전':[71,0.064,0.4],
        '울산':[60,0.068,0.4],
        '경기':[64,0.06,0.4],
        '강원':[62,0.062,0.4],
        '충북':[59,0.067,0.4],
        '충남':[65,0.063,0.4],
        '전북':[65,0.068,0.4],
        '전남':[51,0.062,0.4],
        '세종':[69,0.06,0.5],
        '경북':[57,0.066,0.4],
        '경남':[49,0.074,0.4],
        '제주':[66,0.076,0.3]}
value = list(data.values())
pm10 = []
o3 = []
co = []

for item in value :
    pm10.append(item[0])
    o3.append(item[1])
    co.append(item[2])


    
print(pm10)
print(o3)
print(co)

In [ ]:
data = {'서울':[81,0.052,0.4] ,
        '부산':[54,0.072,0.4],
        '대구':[55,0.06,0.4],
        '인천':[52,0.06,0.5],
        '광주':[61,0.064,0.5],
        '대전':[71,0.064,0.4],
        '울산':[60,0.068,0.4],
        '경기':[64,0.06,0.4],
        '강원':[62,0.062,0.4],
        '충북':[59,0.067,0.4],
        '충남':[65,0.063,0.4],
        '전북':[65,0.068,0.4],
        '전남':[51,0.062,0.4],
        '세종':[69,0.06,0.5],
        '경북':[57,0.066,0.4],
        '경남':[49,0.074,0.4],
        '제주':[66,0.076,0.3]}
value = list(data.values())
pm10 = []
o3 = []
co = []

for item in value :
    pm10.append(item[0])
    o3.append(item[1])
    co.append(item[2])

x = list(range(len(pm10)))

plt.figure(figsize=(10, 10))
#온도 
plt.subplot(3,1,1)
plt.plot(pm10, color='g', marker ='o', linestyle='--', label='pm10')
plt.xticks(x, area)
plt.legend()
#오존
plt.subplot(3,1,2)
plt.plot(o3, 'rx--', label = 'o3')
plt.xticks(x, area)
plt.legend()
#이산화탄소
plt.subplot(3,1,3)
plt.plot(co, 'y<--', label = 'co')
plt.xticks(x, area)
plt.legend()

plt.show()